extends ./layouts/layout.pug
block css
    link(rel="stylesheet", type="text/css", href="/css/dashboard.css")
block maincontainer
    #partition
        .partitionTop
            img.partitionImg(src="/images/ordersicon2.png")
            div(style="display:flex; justify-content: space-between; width: 100%;")
                span(style="justify-content: flex-start;") Monthly Orders
                span(style="color: #ffd400;") 0
        .partitionTop
            img.partitionImg(src="/images/salesicon2.png")
            div(style="display:flex; justify-content: space-between; width: 100%;")
                span(style="justify-content: flex-start;") Monthly Sales
                span(style="color: #ffd400;") 0
        .partitionTop
            img.partitionImg(src="/images/expensesicon2.png")
            div(style="display:flex; justify-content: space-between; width: 100%;")
                span(style="justify-content: flex-start;") Monthly Purchases
                span(style="color: #ffd400;") 0
        .partitionBottom
            .partitionBottomLeft
                div(style="display: flex; flex-direction: column; grid-column: 1/3; padding: 20px;")
                    span(style="font-weight: bold; font-size: 1.5vh") TODAY
                    span #{dateToday}
                .tr2
                    span Total Orders
                    span #{todaysOrders}
                .tr1
                    span Total Sales
                    span #{earnedToday}
                .tr2
                    span Total Purchases
                    span 0.00
                .tr1
                    span Net Total Income 
                    span 0.00
            .partitionBottomRight
                div(style="display: flex; flex-direction: column; grid-column: 1/3; padding: 20px;")
                    span(style="font-weight: bold; font-size: 1.5vh") THIS WEEK
                    span #{weekDate}
                .tr2
                    span Total Orders
                    span #{weeklyOrders}
                .tr1
                    span Total Sales
                    span #{weeklySum}
                .tr2
                    span Total Purchases
                    span 0.00
                .tr1
                    span Total Income 
                    span 0.00