extends ./layouts/layout.pug
block css
    link(rel="stylesheet", type="text/css", href="/css/inventory.css")
block scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="/scripts/inventory.js")
block maincontainer
    #outerContainer
        form#restockForm(action="restock", name=restockForm, method="post")
            img#productImage(src="" )
            .selectflex
                select#productSelect(name="productSelect" size = "1")
                    - count = 0;
                    each purchase in purchases
                        option(value= `${purchase.productID.productName}`, data-price= `${purchases[count].priceEach}`, 
                        data-oldqty= `${purchase.productID.currQuantity}`, data-purchaseid= `${purchase._id}`) #{purchase.productID.productName}
                        - count++;
            .quantityflex
                button.qtybtn#minus(type="button") -
                input#productQuantity(type="number", name="productQuantity", value="1", placeholder="number", min="1", required)
                button.qtybtn#plus(type="button") +
            .priceflex#priceeach  
                span.prod Price for each: &nbsp
                span.prod#productPrice Php #{purchases[0].priceEach}
            .priceflex#totalprice
                span.prod Total Price: &nbsp
                span.prod#totalPrice 0.00
            input.hidedata#oldquantity(name="oldquantity", value="f")
            input.hidedata#purchaseid(name="purchaseid", value="f")
            button#order(type="submit") Restock
        #restockList
            div(style="grid-column: 1/3; padding: 20px; background-color: #343d52; color: white; font-weight: bolder; font-size: 250%;")
                span Last 5 Restock
            .tr2
                span 5 x Item1
                span Php 0.00
            .tr1
                span 2 x Item2
                span Php 0.00
            .tr2
                span 10 x Item3
                span Php 0.00
            .tr1
                span 999 x Item4
                span Php 440.00
            .tr2
                span 20 x Item5
                span Php 33323.00