extends ./layouts/layout.pug
block css
    link(rel="stylesheet", type="text/css", href="/css/reports.css")
block scripts 
    script(src="/scripts/reports.js")
block maincontainer
    .form-style-6
        form#generateform(action="/transactions", method="GET")
            span Date from:
            input(type="date", name="fromdate")
            span  to: 
            input(type="date", name="todate")
            br
            br
            input#generate(type="submit", value="Generate")
    .container
        .table
            .table-header
                .header__item
                    a#name(class="filter__link" href="#") Product Name
                .header__item
                    a#quantity(class="filter__link filter__link--number" href="#") Quantity Sold
                .header__item
                    a#status(class="filter__link filter__link--number" href="#") Purchased Price
                .header__item
                    a#status(class="filter__link filter__link--number" href="#") Sold Price
            .table-content
                -quantitySold = 0
                -totalPurchases = 0
                -totalSold = 0
                -if (!reports.length){ 
                    .table-row
                        .table-data
                        .table-data 
                        .table-data 
                - } else {
                    each report in reports
                        .table-row
                            .table-data
                                span #{report.productName}
                            .table-data 
                                span #{report.quantitySold}
                            .table-data 
                                span Php #{report.COGS}
                            .table-data 
                                span Php #{report.totalPrice}
                        -quantitySold+=report.quantitySold 
                        -totalPurchases+=parseFloat(report.COGS)
                        -totalSold+=parseFloat(report.totalPrice)
                - }
                .table-row
                    .table-data
                        span(style="font-weight: 600;") Total: 
                    .table-data 
                        span #{quantitySold}
                    .table-data 
                        span Php #{totalPurchases}
                    .table-data 
                        span#footer Php #{totalSold}
                .table-row 
                    .table-data
                        -if (totalSold > totalPurchases) {
                            span(style="font-weight: 600; color: #82d682;") Net Income:
                        - } else if (totalSold == totalPurchases) {
                            span Net Income
                        - } else {
                            span(style="font-weight: 600; color: red;") Net Loss:
                        - } 
                    .table-data
                    .table-data
                    .table-data 
                        - var net =  Math.abs(totalSold - totalPurchases).toFixed(2);
                        -if (totalSold > totalPurchases) {
                            span(style="font-weight: 600; color: #82d682;") Php #{net}
                        - } else if (totalSold == totalPurchases) {
                            span 0.00
                        - } else {
                            span(style="font-weight: 600; color: red;") Php #{net}
                        - } 


